<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="cacheEnabled" value="true" />
	</settings>
	<typeAliases>
		<typeAlias type="com.module.entity.gp.Dp" alias="Dp" />
		<typeAlias type="com.module.entity.gp.Gp" alias="Gp" />
		<typeAlias type="com.module.entity.gp.Gpdm" alias="Gpdm" />
		<typeAlias type="com.module.entity.gp.Sina" alias="Sina" />
		<typeAlias type="com.module.entity.gp.Limit" alias="Limit" />
	</typeAliases>
</configuration>
	
	
