<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Original">
	<insert id="insert" parameterType="Original">
		insert into Original(id,url, content, code, status, urlOld)
			values(#{sId},#{sUrl},#{sContent},#{sCode},#{nStatus},#{sUrlOld}) 
	</insert>
	
	<update id="update" parameterType="Original">
        update Original set id=#{sId}
        <if test=" sUrl != null and sUrl != '' ">
            , url=#{sUrl}
        </if>
        <if test=" sContent != null and sContent != '' ">
            , content=#{sContent}
        </if>
        <if test=" sCode != null and sCode != '' ">
            , code=#{sCode}
        </if> 
        <if test=" nStatus != null and nStatus != '' ">
            , status=#{nStatus}
        </if>
        <if test=" sUrlOld != null and sUrlOld != '' ">
            , url_old=#{sUrlOld}
        </if>
        
	</update>
	
	<select id="selectList" parameterType="Original" resultMap="OriginalMap">
		select * from Original where 1=1 
		<if test=" sId != null and sId != '' ">
            and id=#{sId}
        </if>
		<if test=" sUrl != null and sUrl != '' ">
            and url=#{sUrl}
        </if>
        <if test=" sContent != null and sContent != '' ">
            and content=#{sContent}
        </if>
        <if test=" sCode != null and sCode != '' ">
            and code=#{sCode}
        </if>
        <if test=" nStatus != null and nStatus != '' ">
            and status=#{nStatus}
        </if>
        <if test=" sUrlOld != null and sUrlOld != '' ">
            and urlOld=#{sUrlOld}
        </if>
	</select>
	
	<resultMap id="OriginalMap" type="Original">
		<id property="sId" column="id"/>
		<result property="sUrl" column="url"/>
		<result property="sContent" column="content"/>
		<result property="sCode" column="code"/>
		<result property="nStatus" column="status"/>
		<result property="sUrlOld" column="urlOld"/>
	</resultMap>
</mapper>