<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Original">
	<insert id="insert" parameterType="Original">
		insert into Original(id, link, state, code, status, lastId, level, linkCount, valid)
			values(#{sId},#{sLink},#{sState},#{sCode},#{nStatus},#{sLastId},#{nLevel},#{nLinkCount},#{nValid}) 
	</insert>
	
	<update id="update" parameterType="Original">
        update Original set id=#{sId}
        <if test=" sLink != null and sLink != '' ">
            , link=#{sLink}
        </if>
        <if test=" sState != null and sState != '' ">
            , state=#{sState}
        </if>
        <if test=" sCode != null and sCode != '' ">
            , code=#{sCode}
        </if> 
        <if test=" nStatus != null and nStatus != '' ">
            , status=#{nStatus}
        </if>
        <if test=" sLastId != null and sLastId != '' ">
            , lastId=#{sLastId}
        </if>
        <if test=" nLevel != null and nLevel != '' ">
            , level=#{nLevel}
        </if>
        <if test=" nLinkCount != null and nLinkCount != '' ">
            , linkCount=#{nLinkCount}
        </if>
        <if test=" nValid != null and nValid != '' ">
            , valid=#{nValid}
        </if>
        where id=#{sId}
	</update>
	
	<select id="selectList" parameterType="Original" resultMap="OriginalMap">
		select * from Original where 1=1 
		<if test=" sId != null and sId != '' ">
            and id=#{sId}
        </if>
		<if test=" sLink != null and sLink != '' ">
            and link=#{sLink}
        </if>
        <if test=" sState != null and sState != '' ">
            and state=#{sState}
        </if>
        <if test=" sCode != null and sCode != '' ">
            and code=#{sCode}
        </if>
        <if test=" nStatus != null and nStatus != '' ">
            and status=#{nStatus}
        </if>
        <if test=" sLastId != null and sLastId != '' ">
            and lastId=#{sLastId}
        </if>
        <if test=" nLevel != null and nLevel != '' ">
            and level=#{nLevel}
        </if>
        <if test=" nLinkCount != null and nLinkCount != '' ">
            and linkCount=#{nLinkCount}
        </if>
        <if test=" nValid != null and nValid != '' ">
            and valid=#{nValid}
        </if>
	</select>
	
	<resultMap id="OriginalMap" type="Original">
		<id property="sId" column="id"/>
		<result property="sLink" column="link"/>
		<result property="sState" column="state"/>
		<result property="sCode" column="code"/>
		<result property="nStatus" column="status"/>
		<result property="sLastId" column="lastId"/>
		<result property="nLevel" column="level"/>
		<result property="nLinkCount" column="linkCount"/>
		<result property="nValid" column="valid"/>
	</resultMap>
</mapper>